*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*#container {
    height: 100vh;
}*/

.relativo{
    width: 200px;
    height: 200px;
    background: plum;
    position: relative;
    left: 40%;
    z-index: 1;
}

.absoluto{
    width: 200px;
    height: 200px;
    background: rgb(53, 0, 82);
    position: absolute;
    left: 40%;
    top: 46%;
    border-radius: 50%;
    display: flex;

}

.fixo{
    width: 100px;
    height: 100px;
    background: rgb(242, 98, 255);
    position: fixed;
    left: 88%;
    bottom: 10%;    
}

.block {
    background-color: rgb(59, 0, 0);
    height: 200px;
}

.inline {
    background-color: peachpuff;
    width: 200px;
    height: 200px;
}

.texto h1 {
    font-size: 32px;
}

.texto {
    font-size: 2rem;
}