*{
    margin: 0;
    padding: 0;
}

#externo{
    height: 100px;
    width: 400px;
    background-color: palevioletred;
    color: white;
    margin: 20px;
}

main{
    height: 100vh;
    background-color: gray;
}


div > h1 {
    color: white;
}

span + h1{
    color: red;
}

h1 ~ p {
    color: rgb(78, 22, 9);
}

.btn {
    padding: 12px;
    background-color: darkcyan;
    border-radius: 12px;
}

.btn:hover {
    background-color: aqua;
    cursor: pointer;
}